* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #202124;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}

.container {
  display: grid;
  place-items: center;
  position: relative;
  width: 255px;
  height: 355px;
  border-radius: 1em;
  background: linear-gradient(50deg, #A55A4A, #35ABD5);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 35px;
  top: 0;
  right: 35px;
  transition: 1.9s;
  background: linear-gradient(50deg,#424C87, #0C5389);
  transform: rotate(-45deg) translate(0, -100px);
}

.card {
  display: grid;
  place-items: center;
  width: 247px;
  height: 347px;
  background: #0A0A09;
  border-radius: 1em;
  z-index: 1;
  color: #1A8E79;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.card:hover {
  color: white;
}

.container:hover::before {
  animation: effect 2s;
}

@keyframes effect {
  100% {
    transform: rotate(-45deg) translate(0, 450px);
  }
}